# UTF-8 encoding - Turkce karakterlerin dogru gorunmesi icin
AddDefaultCharset UTF-8
<FilesMatch "\.(html|htm)$">
  Header set Content-Type "text/html; charset=utf-8"
</FilesMatch>

DirectoryIndex index.html
